.button {
  padding: 14px;

  font-size: 17px;
  font-family: inherit;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
  color: $basicDark;

  background-color: $basicWhite;
  border: 2px solid $basicDark;

  box-sizing: border-box;

  cursor: pointer;
}
