.creators {
  display: flex;

  margin-left: auto;
  margin-right: auto;

  font-size: 19px;
  line-height: 18px;
  font-weight: bold;
  color: var(--basicBlack);
}

.creators__logo {
  margin-left: 27px;
}

