.header__container {
  position: relative;

  @media (min-width: $table-width) {
    display: flex;
    flex-direction: column;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    flex-direction: column;
  }
}

.header__action-wrapper {
  @media (min-width: $table-width) {
    background-color: teal;
  }
}

.header__delivery-info {
  display: none;

  font-size: 15px;
  line-height: 24px;
  font-weight: 400;
  color: $basicDark;

  @media (min-width: $table-width) {
    display: flex;
    justify-content: flex-end;
  }

  @media (min-width: $desktop-width) {
    display: block;
  }
}
