.order-form__fieldset {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-top: 15px;
  border: none;
}

.order-form__fieldset:first-of-type {
  margin-top: 30px;
}


.order-form__checkbox-wrapper {
  display: flex;
  margin-top: 25px;
}

.order-form__legend {
  font-size: 17px;
  line-height: 16px;
  font-weight: 700;
  text-transform: uppercase;
  color: $basicGreen;
}

.order-form__label {
  font-size: 17px;
  line-height: 18px;
  font-weight: 700;
  color: $basicBlack;
}

.order-form__input-wrapper {
  display: flex;
  flex-direction: column;

  margin-top: 22px;
}

.open-form__input-wrapper:first-child {
  margin-top: 28px;
}

.order-form__text-input,
.order-form__phone-input,
.order-form__email-input {
  padding: 17px 0;
  box-shadow: inset 0 -2px 0 $basicBlack;
  border: none;

  box-sizing: border-box;

  &::placeholder {
    font-size: 17px;
    line-height: 18px;

    color: $opacityBlack03;
  }
}

.order-form__phone-input,
.order-form__email-input {
  width: 100%;
}

.order-form__textarea {
  padding-top: 16px;
  padding-left: 18px;

  width: 100%;
  border: 2px solid $basicBlack;

  box-sizing: border-box;

  &::placeholder {
    font-size: 17px;
    line-height: 18px;

    color: $opacityBlack03;
  }
}

.order-form__reminder {
  font-size: 14px;
  line-height: 16px;
}

.order-form__button {
  margin-top: 30px;

  width: 100%;
}
