.page-form {
  padding-bottom: 65px;
  background-color: $basicWhite;
}

.page-form__main-title {
  padding-top: 73px;
  padding-bottom: 73px;
  text-align: center;

  @media (min-width: $table-width) {
    padding-top: 98px;
    padding-bottom: 64px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 101px;
    padding-bottom: 79px;
  }
}

.page-form__description {
  margin-top: 17px;

  font-size: 13px;
  line-height: 24px;

  @media (min-width: $table-width) {
    margin-top: 54px;

    font-size: 17px;
    line-height: 30px;
    text-align: left;
  }

  @media (min-width: $desktop-width) {
    margin-top: 98px;
    margin-left: 70px;
    padding-right: 260px;

    text-align: left;
  }
}
