.page-form {
  padding-bottom: 65px;
  background-color: $basicWhite;
}

.page-form__main-title {
  padding-top: 73px;
  padding-bottom: 73px;
  padding-left: 23px;
  padding-right: 22px;
}

.page-form__description {
  margin-top: 17px;

  font-size: 13px;
  line-height: 24px;
}
