.page-inner__main-title {
  padding-top: 74px;
  padding-bottom: 74px;

  @media (min-width: $tablet-width) {
    padding-top: 101px;
    padding-bottom: 84px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 101px;
    padding-bottom: 95px;
  }
}

.page-inner__video-content {
   margin-bottom: 64px;

   @media (min-width: $desktop-width) {
    margin-bottom: 103px;
  }
}
