.page-main {
  margin: 0;
  padding: 0;
}

.page-main__main-title {
  margin: 0;
  padding-top: 73px;
  padding-bottom: 120px;

  font-size: 27px;
  line-height: 30px;
  font-weight: bold;
  text-align: center;
  color: var(--basicBlack);

  background-image: url("../img/hero-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: 50% 0;
}
