
.popular__list {
  @include list-reset;
}

.popular__title {
  display: inline-block;

  padding-top: 24px;
  padding-bottom: 31px;
  padding-left: 30px;
  padding-right: 160px;

  width: 100%;

  font-size: 19px;
  line-height: 24px;
  font-weight: 700;
  color: $basicWhite;
  vertical-align: center;

  background-color: $basicGreen;

  box-sizing: border-box;

  &:hover,
  &:focus {
    background-color: $specialGreen;
  }
}

.popular__item:nth-child(even) .popular__title {
  background-color: $basicGreenDark;

  &:hover,
  &:focus {
    background-color: $specialGreenDark;
  }
}
