
.product-cart__item {
  @media (min-width: $table-width) {
  position: relative;
  }
}

.product-cart__title-wrapper {
  @media (min-width: $table-width) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.product-cart__title {
  margin: 0;

  font-size: 25px;
  line-height: 30px;
  font-weight: 700;
  color: $basicBlack;

  @media (min-width: $table-width) {
    display: inline-block;
    font-size: 43px;
    line-height: 50px;

    vertical-align: middle;
  }
}

.product-cart__rank {
  margin-top: 4px;

  font-size: 17px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
  color: $basicGreen;

    @media (min-width: $table-width) {
    max-width: 100px;
    text-align: center;
  }
}

.product-cart__description {

  font-size: 17px;
  line-height: 30px;
  color: $basicDark;
}

.product-cart__property {
  display: flex;
  flex-wrap: wrap;
}

.product-cart__property-title {
  padding-top: 16px;
  padding-bottom: 16px;

  width: 30%;
}

.product-cart__property-description {
  margin: 0;
  padding: 0;
  padding-top: 16px;
  padding-bottom: 16px;

  width: 70%;
}

.product-cart__price {
  display: block;

  margin-top: 26px;

  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
  text-align: center;
  color: $basicDark;
}

.product-cart__button {
  display: inline-block;

  margin-top: 25px;

  width: 100%;

  text-align: center;
  vertical-align: middle;

  box-sizing: border-box;
}

.product-cart__image {
  @media (min-width: $table-width) {
    position: absolute;
    top: 0;
    right: 0;
  }
}

.product-cart__content-wrapper {
  @media (min-width: $table-width) {
    max-width: 292px;
  }
}
