.social-list {
  display: flex;

  margin: 0;
  margin-top: 28px;
  margin-bottom: 14px;
  margin-left: auto;
  margin-right: auto;
  padding: 0;

  list-style: none;

  @media (min-width: $tablet-width) {
    margin-top: 8px;
    margin-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    margin-top: 5px;
    margin-bottom: 0;
  }
}

.social-list__item {
  margin-right: 41px;
}

.social-list__item:last-child {
  margin-right: 0;
}


.social__link {
  fill: $basicDark;

  &:hover,
  &:focus {
      fill: $specialGreenDark;

  }

  &:active {
      fill: $specialGreenDark;
      opacity: 0.3;
  }
}
