.user-list {
  margin: 0;
  padding: 0;

  @media (min-width: $table-width) {
    display: flex;
    justify-content: flex-end;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: flex-end;
  }
}

.user-list__input {
  background-color: $basicWhite;
  border: none;

  &::placeholder {
    font-size: 17px;
    line-height: 24px;
    font-weight: 700;
    color: $basicDark;
  }
}

.user-list__form,
.user-list__shop-basket {
  box-shadow: inset 0 1px 0 $shadowGrey;

  @media (min-width: $table-width) {
    box-shadow: none;
  }
}

.user-list__form {
  margin: 0 auto;
  padding-top: 29px;
  padding-bottom: 27px;


  max-width: 260px;


  @media (min-width: $table-width) {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

.user-list__label {
  position: relative;
  padding-left: 42px;
}

.user-list__label::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 18px;
  height: 18px;
  background-image: url("../img/icon-search.svg");
}

.user-list__shop-basket {

  @media (min-width: $table-width) {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

.user-list__link {
  display: block;
  position: relative;
  margin: 0 auto;

  padding-top: 29px;
  padding-bottom: 27px;

  padding-left: 40px;

  max-width: 213px;

  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
  color: $basicBlack;

  &:hover,
  &:focus {
    color: $opacityBlack06;
  }

  &:active {
    color: $opacityBlack03;
  }

  @media (min-width: $table-width) {
    margin: 0;
    padding: 0;

    max-width: auto;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    padding: 0;

    max-width: auto;
  }
}

.user-list__link::before {
  content: "";
  display: block;
  position: absolute;
  top: 30px;
  left: 0;
  width: 21px;
  height: 18px;

  background-image: url('../img/icon-cart.svg');

}
