.user-list {
  margin: 0;
  padding: 0;

  @media (min-width: $table-width) {
    display: flex;
    justify-content: flex-end;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: flex-end;
  }
}

.user-list__input {
  margin-top: 13px;

  background-color: $basicWhite;
  border: none;

  &::placeholder {
    font-size: 17px;
    line-height: 24px;
    font-weight: 700;
    color: $basicDark;
  }

  @media (min-width: $table-width) {
    display: none;
  }
}

.user-list__form,
.user-list__shop-basket {
  box-shadow: inset 0 1px 0 $shadowGrey;

  @media (min-width: $table-width) {
    box-shadow: none;
  }
}

.user-list__form {
  margin: 0 auto;
  margin-top: -2px;
  padding-top: 20px;
  padding-bottom: 27px;


  max-width: 260px;


  @media (min-width: $table-width) {
    margin: 0;
    margin-right: 32px;
    padding-top: 28px;
    padding-bottom: 0;
    border-left: 1px solid $opacityBlack01;
    border-right: 1px solid $opacityBlack01;
  }
}

.user-list__label {
  position: relative;
  padding-left: 42px;

  @media (min-width: $table-width) {
    margin-left: 30px;
    margin-right: 30px;
    padding-left: 20px;
  }

}

.user-list__label::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 18px;
  height: 18px;

  background-image: url("../img/icon-search.svg");

  opacity: 0.2;
}

.user-list__shop-basket {
  margin-top: -3px;
}

.user-list__link {
  display: block;
  position: relative;
  margin: 0 auto;

  padding-top: 30px;
  padding-bottom: 27px;

  padding-left: 45px;

  max-width: 213px;

  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
  color: $basicBlack;

  &:hover,
  &:focus {
    color: $opacityBlack06;
  }

  &:active {
    color: $opacityBlack03;
  }

  @media (min-width: $table-width) {
    margin: 0;
    padding: 0;

    padding-top: 35px;
    padding-left: 52px;

    max-width: auto;
  }

  @media (min-width: $desktop-width) {

  }
}

.user-list__link::before {
  content: "";
  display: block;
  position: absolute;
  top: 30px;
  left: 0;
  width: 21px;
  height: 18px;

  background-image: url('../img/icon-cart.svg');
  opacity: 0.2;

  @media (min-width: $table-width) {
    top: 37px;
  }
}
