.video-cart__title {
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
  color: $basicBlack;
}

.video-cart__discription {
  font-size: 13px;
  line-height: 24px;
}


.video-cart__button {
  padding-left: 23px;
  padding-right: 23px;

}
